{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}

    {% for category,message in messages %}
      <h1>{{ message }}!</h1>
    {% endfor %}

  {% endif %}
{% endwith %}

<form id="input-Word" method="get" name="word">

<input type="text" id="guess" placeholder="enter a word">
<button>submit</button>
</form>
<div id="game-info">
  <p>Word: <span id="word"></span></p>
  <p>Time Left: <span id="timer">60</span> seconds</p>
  <p>Score: <span id="score">0</span></p>
</div>


  {% for sub_list in board %}
      <h1>
          {% for item in sub_list %}
              {{ item|replace(' ', '')|replace('"', '')|join(', ') }}
          {% endfor %}
      </h1>
  {% endfor %}


{% endblock %}