{% extends 'base.html' %}

{% block title %}

{% endblock %}

{% block content %}
{% with messages = get_flashed_messages() %}
  {% if messages %}

    {% for message in messages %}
      <h1>{{ message }}!</h1>
    {% endfor %}

  {% endif %}
{% endwith %}

<form id="input-Word" method="get" name="word">

<input type="text" id="guess" placeholder="enter a word">
<button>submit</button>
</form>


  {% for sub_list in board %}
      <h1>
          {% for item in sub_list %}
              {{ item|replace(' ', '')|replace('"', '')|join(', ') }}
          {% endfor %}
      </h1>
  {% endfor %}


{%endblock%}